.mainbox{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 8pc;
    margin-top: 3pc;
    box-shadow: 8px 5px 8px 5px #d0d0d6 ;
    border-radius: 2pc;
}

.flexbox{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.leftbox{
    display: flex;
    flex-direction: column;
    width: 20%;

}

.rightbox{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.formbox{
    display: flex;
    flex-direction: row;
}

.first{
    display: flex;
    flex-direction: column;
    
}

.second{
    display: flex;
    flex-direction: column;
    margin-top: 4pc;

}

.second h3{
    font-weight: 500;
    color: #43BB;
}
.field{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.field input{
    width: 80%;
    height: 20%;
}

.btn-btn{
    display: flex;
    margin-top: 1pc;
}

.butn{
    background-color: black;
    color: #fff;
    padding: 8px 8px;
    margin: 8px 8px;
    font-family: 500;
    font-size: 16px;
    height: 65%;
    border-radius: 3px;
}



.first h3{
    font-weight: 500;
    color: #43BB;

}

.first img{
    width: 20%;
    height: 20%;
}

.field span img{
    width: 4%;
    height: 4%;
    position: absolute;
    margin-top: -3pc;
    margin-left: 15pc;

}
.c-row{
    display: flex;
    flex-direction: row;
    width: 90%;
}

