
*{
   
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}



.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 

 .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 55%;
    margin-bottom: 3pc;
    margin-top: 0.5pc;
    
 }

 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#DC5F00;
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#DC5F00;
    text-align: center;
 }

 .price{
   text-align: center;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }


 /**/

 .flex-box{
    display: flex;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    margin-bottom: 4pc;
    margin-top: 0.5pc;
    
    
 }
 .left{
    width: 50%;
    margin-left: 3pc;
    margin-top: 0.5pc;
 }
 
 .right{
    background-color: #fff;
    margin-bottom: 4pc;
    margin-top: 2pc;
    width: 50%;
 }
 
 .big-img{
    width: 256px;
 }
 .big-img img{
    width: inherit;
 }
 .images{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 40%;
    margin-top: 15px;
 }
 .small-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1.5px solid black;
 }
 .small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 .small-img:hover img{
    transform: scale(1.2);
 }
 .url{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 102, 255);
 }
 .pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: -1pc;
 }
 .ratings i{
    color: rgb(255, 136, 0);
 }
 .price{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
 }
 .size{
    display: flex;
    align-items: center;
    margin: 20px 0;
    border-radius: 2px;
    width: 80%;
 }
 .size p{
    font-size: 18px;
    font-weight: 500;
 
   
    
 }


 .psize{
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
   
    
 }
 .psize.active{
    border-width: 1.5px;
    color: #ff5e00;
    font-weight: 500;
 }

 .psize:hover{
    color: #fff;
    background-color: #ff5e00;
 }
 .quantity{
    display: flex;
 }
 .quantity p{
    font-size: 18px;
    font-weight: 500;
 }
 .quantity input{
    width: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
 }
 .btn-box{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
 }

 .btn-box a{
   text-decoration: none;
 }
 .btn-box button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    margin-top: 0.4pc;
    margin-left: 0.2pc;
 }
 .cart-btn{
    background-color: #ff5e00;
    width: 80%;
    height: 20%;
 }
 .buy-btn{
    background-color: #00aeff;
    width: 80%;
    height: 20%;
 }

 .wish-btn{
    background-color: #222;
    height: 20%;
    width: 80%;
 }
 .cart-btn:hover{
    background-color: #ff3c00;
 }
 .buy-btn:hover{
    background-color: #0066ff;
 }

 .wish-btn:hover{
    background-color: #777;
 }



 
 @media  (min-width:738px) and (max-width:1024px)  {

   .left{
      width: 50%;
      margin-left: 1pc;
      margin-top: 0.5pc;
   }
   
   .right{
      background-color: #fff;
      margin-bottom: 4pc;
      margin-top: 2pc;
      width: 50%;
   }
   
   .big-img{
      width: 220px;
   }
   .images{
      display: flex;
      justify-content: space-between;
      width: 90%;
      height: 40%;
      margin-top: 15px;
   }

 }

 @media  (min-width:820px) and (max-width:1180px)  {
   .left{
      margin-top: 5pc;
   }
   
   .big-img{
      width: 175px;
   }

   .small-img{
      width: 80%;
      height: 20vh;
   }

 }
 
 
 @media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }

    .left{
      margin-left: 0.5pc;
      margin-top: 3pc;
    }

    .big-img{
      width: 85%;
      margin-left: -1pc;
   }
   
   .images{
      display: flex;
      justify-content: space-between;
      width: 70%;
      height: 30%;
      margin-top: 15px;
   }

   .right{
      margin-left: -1pc;
   }

   .btn-box{
      width: 100%;
   }
   

 
 }
 

 @media (min-width:430px) and (max-width:932px){
 

   .preview{
      width: 75%;
   }

   .psize{
      width: 30px;
      height: 20px;
      border: 1px solid #ff5e00;
      color: #000;
      text-align: center;
      margin: 0 10px;
      cursor: pointer;
     
      
   }

   .btn-box button{
      width: 90%;
   }

   .price{
      font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
   }
   .psize.active{
      border-width: 1.5px;
      color: #ff5e00;
      font-weight: 500;
   }

   .psize{
      font-size: 14px;
   }
  
   .psize:hover{
      color: #fff;
      background-color: #ff5e00;
   } 


   
 }
 
 
 @media (min-width:390px) and (max-width:844px){

   .preview{
      width: 85%;
   }

   .psize{
      width: 30px;
      height: 20px;
      border: 1px solid #ff5e00;
      color: #000;
      text-align: center;
      margin: 0 10px;
      cursor: pointer;
     
      
   }

   .price{
      font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
   }
   .psize.active{
      border-width: 1.5px;
      color: #ff5e00;
      font-weight: 500;
   }

   .psize{
      font-size: 14px;
   }
  
   .psize:hover{
      color: #fff;
      background-color: #ff5e00;
   } 

   .btn-box button{
      width: 90%;
   }


 }

 @media (min-width:375px) and (max-width:667px){

   .preview{
      width: 85%;
      
   }

   .right {
      margin-top: -1.5pc;
   }

   .quantity{
      margin-top: -2pc;
   }

   .btn-box{
      margin-top: -0.5pc;
   }

   .psize{
      width: 30px;
      height: 20px;
      border: 1px solid #ff5e00;
      color: #000;
      text-align: center;
      margin: 0 5px;
      cursor: pointer;
     
      
   }

   .price{
      font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
   }
   .psize.active{
      border-width: 1.5px;
      color: #ff5e00;
      font-weight: 500;
   }

   .psize{
      font-size: 14px;
   }
  
   .psize:hover{
      color: #fff;
      background-color: #ff5e00;
   } 

   .btn-box button{
      width: 90%;
   }

 }

 @media (min-width:320px) and (max-width:658px){

   .preview{
      width: 85%;
      
   }

   .right {
      margin-top: -1.5pc;
   }

   .quantity{
      margin-top: -2pc;
   }

   .btn-box{
      margin-top: 0.5pc;
   }

   .btn-box button{
      margin-top: -1pc;
      font-size: 14px;
   }

   

   .psize{
      width: 30px;
      height: 20px;
      border: 1px solid #ff5e00;
      color: #000;
      text-align: center;
      margin: 0 5px;
      cursor: pointer;
     
      
   }

   .price{
      font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
   }
   .psize.active{
      border-width: 1.5px;
      color: #ff5e00;
      font-weight: 500;
   }

   .psize{
      font-size: 14px;
   }
  
   .psize:hover{
      color: #fff;
      background-color: #ff5e00;
   } 

   .btn-box button{
      width: 90%;
   }

 }